body {
    background-color: black;   
    color: white;
}
.whiteText {
    color: #FFFFFF;
}
a:link {
    color: #00FFFF ;
}
a:visited {
    color: #FFFF00;
}
a:hover {
    color: #FF0000;
}
table {
    border: 1px solid white;
}